body, html {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

@font-face {
  font-family: 'Marvin';
  src: url('../fonts/marvin-font.otf');
  font-weight: normal;
  font-style: normal;
}
